form.form
    .form__container
        h3 Name of the event:
        input.form__input(type="text") 
    .form__container
        h3 Parcipants:
        select.form__select(name="select")
            option(value="value1" selected) Value 1
            option(value="value2") Value 2
            option(value="value3") Value 3
    .form__container
        h3 Day:
        select.form__select(name="select")
            option(value="value1" selected) Value 1
            option(value="value2") Value 2
            option(value="value3") Value 3
    .form__container
        h3 Time: 
        select.form__select(name="select")
            option(value="value1" selected) Value 1
            option(value="value2") Value 2
            option(value="value3") Value 3
    .form__container
        a(href="./index.html").form__btn Cancel
        button(type="submit").form__btn Create