form(name="form").form
    .form__container
        h3 Name of the event:
        input.form__input(type="text" name="input" placeholder="Event name:") 
    
    include ./form-components/custom-select.pug
            
    .form__container
        h3 Day:
        select.form__select(name="day")
            -arr = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
                each elem in arr 
                    option(value=elem) #{elem}
    .form__container
        h3 Time: 
        select.form__select(name="time")
            -arr = ['10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00']
                    each elem in arr 
                        option(value=elem) #{elem}
    .form__container
        a(href="./index.html").form__btn Cancel
        button(type="submit").form__btn Create