.form__container(name="participants")
    h3 Participants:
    .form__select_wrapper
        .form__select-custom#select       
            .form__select-custom_item
                span(data-name="Alex") Alex
                i.fa.fa-times.form__select-custom_cancel
            .form__select-custom_arrow#arrow
                i.fa.fa-chevron-down
        ul.form__select-custom__body#select-body
            