<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create Event
        link(rel="stylesheet", href="./css/style.css")
    body

        .main

            include ../components/form/form.pug

        script(src="./js/createEvent.js")