.header {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
  }

  &__select {
    padding: 10px;
    outline: none;
    text-align: center;
    width: 200px;
    margin: 0 10px;
    border: 2px solid;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 1.5rem;
    &:hover {
      background-color: #faa5a5;
    }
  }

  &__option {
    padding: 5px;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0 10px;
    border: 2px solid #000;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 1.5rem;
    &:hover {
      background-color: #c2c4f1;
    }
  }
}
