header.header
    h1.header__title Planner
    
    .header__container
        select.header__select(name="select")
            <option value="value1" selected>Value 1</option>
            <option value="value2" selected>Value 2</option>
            <option value="value3">Value 3</option>

        a.header__btn(href="./create-event.html") New Event +

