.table {
  border: 3px solid #000;

  &__col {
    padding: 19.5px 25px;
    border: 2px solid #000;
    text-align: center;

    &.head {
      background-color: #8fc8ea;
    }

    &.time {
      background-color: #9cf1c1;
    }
  }

  &__event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff98c;
    padding: 12px;
  }
  &__btn {
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-left: 20px;
    &:hover {
      background-color: #ff7473;
      color: #fff;
    }
  }
}

.cell {
  min-width: 200px;
}
